* {
    font-family: Inter, sans-serif;
    margin: 0;
}

body {
    margin: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 860px){
    html{
        width: 860px;
    }
}

/* navbar */

.navbar {
    background-color: #F55A5A;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    position: sticky;
    top: 0;
    padding: 10px;
    color:white;
    z-index: 1;
}

.navbar > *:hover {
    cursor: pointer;
}

.navbar--logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar--logo--icon {
    width: 30px;
}

.navbar--logo--text {
    font-weight: 500;
}

.navbar--profile {
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar--profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar--profile--text:hover, .navbar--logo--text:hover {
    color:rgb(225, 216, 216);
}

.navbar--profile--profile-icon {
    width: 30px;
}

/* MAIN PAGE */
.main-page {
    padding-left: 200px;
    padding-right: 200px;
    overflow-y: auto;
}

/* add event button */

.button--add-event {
    margin: 20px 0;
    position: relative;
    transition: all 0.5s;
}

.button--add-event:hover {
    background-color: #e23e3e;
}

/* events */

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.entry {
    /* margin: 20px 150px; */
    position: relative;
    display: grid;
    grid-template-columns: 250px auto;
    grid-gap: 15px;
    align-items: center;
    background-color: rgb(252, 236, 236);
    border: black 2px solid;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, auto));
}

@media (max-width: 80rem) {
    .events > * {
        width: 100%;
        min-width: 450px;
        background-color: blue;
    }
}

.entry--location, .event--location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.entry--location--title, .event--location--title {
    color: #F55A5A;
    font-size: 30px;
    text-align: center;
}

.event--location--place {
    align-self: center;
    justify-self: center;
}

.entry--location--pin, .event--location--pin {
    /* height: 20px; */
    height: 1rem;
}

.entry--location--country, .event--location--country {
    font-weight: 700;
}

.entry--location--link:link, .entry--location--link:visited,
.event--location--link:link, .event--location--link:visited {
    color: gray;
}

.entry--description, .event--description {
    font-size: 18px;
}

.entry > h3 {
    justify-self: end;
}

.entry--join, .event--join, .event--joined {
    justify-self: end;
    border-radius: 5px;
    background-color: #F55A5A;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.event--joined {
    background-color: rgba(0, 128, 0, 0.799);
}

.event--joined:hover {
    background-color: rgba(2, 63, 2, 0.799);
    content: "Zrezygnuj";
}

  
.entry--join span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.entry--join span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.entry--join:hover {
    background-color: #e23e3e;
}

.entry--join:hover span {
    padding-right: 25px;
    
}
  
.entry--join:hover span:after {
    opacity: 1;
    right: 0;
}

.event {
    position: relative;
    display: grid;
    grid-template-columns: 350px auto 60px;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    align-items: center;
    background-color: rgb(252, 236, 236);
    border: black 2px solid;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    min-width: 600px;
}

.event--info {
    grid-column: 1/2;
    grid-row: 1/4;
}

.event button {
    align-self: end;
    justify-self: end;
    grid-column: 2/4;
    grid-row: 2/3;
}

.event--join:hover {
    background-color: #e23e3e;
}

.event--delete {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    cursor: pointer;
}

.event--delete--options {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    top: 50px;
    right: 10px;
    display: flex;
    gap: 5px;
    padding: 3px;
    align-items: center;
}

.event--edit {
    position: absolute;
    top: 10px;
    right: 60px;
    width: 30px;
    cursor: pointer;
}

.event--info--profile b:hover {
    cursor: pointer;
}
/* profile page */

@media (max-width: 80rem) {
    .profile {
        background-color: blue;
        grid-template-columns: autofill(repeat, minmax(250px, 1fr));
    }
}

.profile {
    display: grid;
    /* grid-template-columns: 250px auto; */
    grid-template-rows: 25px 25px auto;
    grid-gap: 15px;
    background-color: rgb(252, 236, 236);
    border: black 2px solid;
    border-radius: 5px;;
    padding: 15px;
    margin-top: 20px;
    grid-template-columns: minmax(250px, 300px) minmax(auto, auto);
    min-width: 700px;
}

.profile--photo {
    grid-row: 1/5;
    width: 250px;
    justify-self: center;
}

.profile--info {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
}

.profile--info--name {
    font-size: 30px;
}

.profile--rating {
    justify-self: start;
    display: flex;
    align-items: center;
}

.profile--rating--stars {
    height: 40px;
    padding: 0 5px;
}

.profile--rating--stars:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.profile--rating--stars:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}
.profile--rating--stars:not(:checked) > label:before {
    content: '★ ';
}
.profile--rating--stars > input:checked ~ label {
    color: #ffc700;    
}
.profile--rating--stars:not(:checked) > label:hover,
.profile--rating--stars:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.profile--rating--stars > input:checked + label:hover,
.profile--rating--stars > input:checked + label:hover ~ label,
.profile--rating--stars > input:checked ~ label:hover,
.profile--rating--stars > input:checked ~ label:hover ~ label,
.profile--rating--stars > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* .profile--events {
    grid-column: 1/3;
} */

.profile--events > * {
    margin-top: 10px;
    width: 100%;
}

.profile--events > entry {
    background-color: blue;
}

/* REGISTR AND LOGIN PAGE */

.form--register, .form--login, 
.form--profile, .form--event {
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form--register--input, .form--login--input, 
.form--profile--input, .form--event--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    width: 300px;
    min-height: 40px;
    margin-bottom: 20px;
}

.form--register--button, .form--login--button, 
.form--profile--button, .form--event--button,
.button--add-event {
    border-radius: 5px;
    background-color: #F55A5A;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form--login > p {
    margin-top: 10px;
}

.form--register > textarea, .form--profile > textarea,
.form--event > textarea {
    display: block;
    width: 300px;
    resize: vertical;
    min-height: 80px;
    line-height: 20px;     
}

.form--profile--photo {
    margin-bottom: 20px;
}

.form--login a{
    color: #F55A5A;
    font-weight: 600;
}

/* LINK */

a {
    text-decoration: none;
    color: white;
}
